@charset "UTF-8";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

:root {
  --header-text-color: #212121;
  --second-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --footer-text-tel-color: rgba(255, 255, 255, 0.6);
  --header-background: #ffffff;
  --second-background: #f5f4fa;
  --darck-background: #2f303a;
  --hero-button-text-color: #ffffff;
  --hero-button-background: #2196f3;
  --second-button-text-color: #212121;
  --button-active-background: #2196f3;
  --button-inactive-background: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background: var(--header-background);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.curren {
  color: #2196f3;
}

.link.curren::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-widht: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rest(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.mobile-menu__close, .flex-contact__footer, .icon-list, .icon-list__link, .footer__sectioun, .footer__form {
  display: flex;
}

.icon-list__link {
  align-items: center;
}

.logotype {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.logotype .logotype__accent {
  color: var(--accent-text-color);
}

@media screen and (min-width: 1200px) {
  .logotype {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logotype__footer {
  color: var(--white-text-color);
  margin-bottom: 20px;
}

/* ----------------Header------------------ */
.header-contact__link {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contact__link {
    display: flex;
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contact__link .link:hover,
  .header-contact__link .link:focus {
    color: var(--accent-text-color);
  }
}

.header-contact__item {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contact__item {
    display: flex;
    position: relative;
    padding-bottom: 37px;
    padding-top: 36px;
  }
  .header-contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header-contact__link,
  .flex-header__nav,
  .navigation,
  .flex-contact {
    display: flex;
  }
}

.flex-header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 320px) {
  .flex-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .flex-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.flex-header__nav,
.navigation {
  display: flex;
  align-items: center;
}

.mob-menu__open {
  display: flex;
  position: absolute;
  right: 10px;
  top: 15px;
  transform: translate(-50%, -10%);
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: none;
  box-sizing: border-box;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .mob-menu__open {
    display: none;
  }
}

.mob-menu__icon {
  position: absolute;
  right: 0;
  top: 0;
  transform: -50%, -50%;
}

.mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  overflow: scroll;
}

.mobile.is-hidden {
  top: 100%;
}

.mobile-menu {
  padding-left: 40px;
}

.mobile-contact__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 300px;
}

.mobile-contact__link .link:hover,
.mobile-contact__link .link:focus {
  color: var(--accent-text-color);
}

.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__close {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 22px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  box-sizing: border-box;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close:hover, .mobile-menu__close:focus {
  fill: var(--accent-text-color);
}

.btn-icon-mobile {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 18px;
  height: 18px;
}

.mob-contact__tel {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 480px) {
  .mob-contact__tel {
    font-size: 34px;
    line-height: 1.17647;
  }
}

.mob-contact__tel:hover, .mob-contact__tel:focus {
  color: var(--accent-text-color);
}

.mob-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: 0.02em;
}

.mob-contact__mail:hover, .mob-contact__mail:focus {
  color: var(--accent-text-color);
}

.mob-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .mob-social {
    flex-wrap: nowrap;
  }
}

.mob-social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mob-social__list:not(:last-child) {
  margin-right: 10px;
}

.link.flex-contact__tel,
.link.flex-contact__mail {
  display: none;
}

@media screen and (min-width: 768px) {
  .link.flex-contact__tel,
  .link.flex-contact__mail {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link.flex-contact__tel:hover, .link.flex-contact__tel:focus,
  .link.flex-contact__mail:hover,
  .link.flex-contact__mail:focus {
    color: var(--accent-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .link.flex-contact__tel,
  .link.flex-contact__mail {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: none;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .link.flex-contact__tel {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .link.flex-contact__tel {
    margin-bottom: 0;
  }
}

.flex-contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .flex-contact {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .flex-contact {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.flex-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.tel-icon {
  width: 10px;
  height: 16px;
}

.contact-icon {
  width: 16px;
  height: 12px;
}

@media screen and (min-width: 1200px) {
  .flex-contact__item {
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .flex-contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.flex-contact__footer {
  flex-direction: column;
  display: block;
  margin-left: auto;
}

.flex-contact__footer {
  margin: 0;
}

.footer-tel {
  margin-top: 8px;
}

.link.footer-tel,
.link.footer-mail {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.02em;
  color: var(--footer-text-tel-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.footer-tel:hover, .link.footer-tel:focus,
.link.footer-mail:hover,
.link.footer-mail:focus {
  color: var(--accent-text-color);
}

/* ---------------Кнопки Портфолио------------------------- */
.flex-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .flex-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.second-btn {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .second-btn {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.flex-second-btn {
  margin-right: 8px;
}

.flex-second-btn:nth-child(3) {
  margin-right: 0;
}

.flex-second-btn:nth-child(5) {
  margin-right: 0;
}

.flex-second-btn:nth-child(-n + 3) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .flex-second-btn:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .flex-second-btn:not(:last-child) {
    margin-right: 8px;
  }
}

.second-btn-item {
  min-width: 73px;
  min-height: 38px;
  border-radius: 4px;
  border: none;
  display: flex;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-button-text-color);
  background-color: var(--button-inactive-background);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.second-btn .second-btn-item:hover,
.second-btn .second-btn-item:focus {
  color: var(--hero-button-text-color);
  background-color: var(--button-active-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---------------------Наши проекты в портофолио----------------------- */
.flex-project {
  display: block;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .flex-project {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-project {
    margin-top: 50px;
  }
}

.flex-project-item {
  width: 450px;
  height: 404px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .flex-project-item {
    width: 354px;
    height: 440px;
    margin-right: 30px;
  }
  .flex-project-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .flex-project-item {
    width: 370px;
    height: 404px;
    margin-right: 30px;
  }
  .flex-project-item:nth-child(2n) {
    margin-right: 30px;
  }
  .flex-project-item:nth-child(3n) {
    margin-right: 0;
  }
  .flex-project-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.flex-project-item:hover {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-img-portfolio {
  display: block;
  width: 450px;
  height: 294px;
}

@media screen and (min-width: 768px) {
  .flex-img-portfolio {
    width: 354px;
    height: 294px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-img-portfolio {
    width: 370px;
    height: 294px;
  }
}

.flex-project-text {
  padding: 20px 24px;
}

.project-link-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-text-color);
}

.project-link-item {
  margin-top: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.portfolio-position {
  position: relative;
  overflow: hidden;
}

.portfolio-text-posinion {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 74px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-text-posinion {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-text-posinion {
    padding: 63px 24px;
  }
}

.portfolio-link:hover .portfolio-text-posinion {
  transform: translateY(0);
}

.portfolio-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.icon-list {
  justify-content: center;
}

.icon-list__item {
  margin-top: 20px;
}

.icon-list__item + .icon-list__item {
  margin-left: 10px;
}

.icon-list__link {
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--header-background);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list__link:hover, .icon-list__link:focus {
  background-color: var(--button-active-background);
}

.author-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list__link:hover .author-icon,
.icon-list__link:focus .author-icon {
  fill: var(--white-text-color);
}

.icon-list__footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icon {
  fill: var(--white-text-color);
}

/* ----------------------Footer---------------------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--darck-background);
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.flex-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .flex-footer {
    align-items: flex-start;
  }
}

.address__footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  font-style: normal;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__footer {
    margin-bottom: 11px;
  }
}

.footer__sectioun {
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer__sectioun {
    flex-direction: row;
    align-items: baseline;
  }
}

.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-social__block {
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-social__block {
    margin-top: 0;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social__block {
    text-align: left;
    margin-top: 10px;
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) {
  .footer__tab {
    display: flex;
    flex-direction: row;
  }
}

.footer__form {
  flex-direction: column;
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    flex-direction: row;
    margin-top: 0;
    margin-left: 93px;
    text-align: start;
    padding-top: 72px;
    padding-bottom: 94px;
  }
}

.form__send {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .form__send {
    display: flex;
    align-items: center;
  }
}

.form-send__input {
  width: 450px;
  height: 50px;
  background-color: var(--darck-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .form-send__input {
    width: 358px;
  }
}

.form-send__btn {
  display: flex;
  width: 200px;
  height: 50px;
  background: var(--button-active-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: var(--white-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .form-send__btn {
    margin-top: 0;
    margin-left: 12px;
    margin-right: 0;
  }
}

.form-btn__icon {
  margin-right: 10px;
}
/*# sourceMappingURL=portfolio.css.map */