/* ----------------------Footer---------------------------- */
.footer {
  background: var(--darck-background);
}
.flex-footer {
  @extend %sample;
  flex-direction: column;
}

.address__footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  font-style: normal;
  margin-bottom: 11px;
}

.footer__sectioun {
  @extend %sample;
  align-items: baseline;
}
.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.footer-social__block {
  margin-left: 70px;
}

.footer__form {
  @extend %sample;
  margin-left: 93px;
  padding-top: 72px;
  padding-bottom: 94px;
}
.form__send {
  @extend %sample;
  @extend %align;
  margin-top: 20px;
}
.form-send__input {
  @include size(358px, 50px);
  background-color: var(--darck-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.form-send__btn {
  @extend %sample;
  @include size(200px, 50px);
  background: var(--button-active-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: var(--white-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;
  @extend %align;
}
.form-btn__icon {
  margin-right: 10px;
}
