/* ----------------Header------------------ */
.header-contact__link {
  display: none;
  @include tab {
    display: flex;
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    & .link:hover,
    & .link:focus {
      color: var(--accent-text-color);
    }
  }
}

.header-contact__item {
  display: none;
  @include tab {
    display: flex;
    position: relative;
    padding-bottom: 37px;
    padding-top: 36px;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
@media screen and (min-width: 768px) {
  .header-contact__link,
  .flex-header__nav,
  .navigation,
  .flex-contact {
    display: flex;
  }
}

.flex-header {
  border-bottom: 1px solid #ececec;
  @include tel {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @include tab {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.flex-header__nav,
.navigation {
  display: flex;
  align-items: center;
}
